mixin article__stats(shares, views, comments)
  .article__stats 
    ul 
      // Shares 
      li 
        img(src="../assets/icons/share.svg", alt="Shares Icon")
        span=shares 
      // Views 
      li 
        img(src="../assets/icons/eye.svg", alt="Views Icon")
        span=views
      // Comments
      li 
        img(src="../assets/icons/comments.svg", alt="Comments Icon")
        span=comments

mixin main-article(image, name, category, title, description, shares, views, comments)
  article.main-article
    a(href="#")
      img(class="main-article__image" src="../assets/images/"+image, alt=name+" Picture")
      // Category 
      span.main-article__category=category
      // Info
      .main-article__info
        // Title 
        h1=title
        // Description 
        p=description 
      // Stats
      +article__stats(shares, views, comments) 

mixin article(classname, image, name, category, title, shares, views, comments)
  article(class=classname)
    a(href="#")
      img(src="../assets/images/"+image, alt=name+" Picture")
      span.small-article__category=category 
      // Info
      .article__info
        // Title 
        h1=title
      // Stats 
      +article__stats(shares, views, comments)